$primary   : #2196F3
$secondary : #26A69A
$accent    : #1E88E5

$text-primary: #000000
$text-secondary: #ffffffb3
$text-accent: #ffffff

$positive  : #21BA45
$negative  : #C10015
$warning   : #F2C037
$info      : #31CCEC

$breakpoint-mobile: 600px

$header-height: 4rem